<header th:fragment="header"
        class="h-14 w-full flex justify-between px-10 py-2 bg-neutral-950 text-neutral-50 items-center">
    <a href="/home">
        <h1 class="text-2xl font-bold">Green game</h1>
    </a>
    <div class="flex gap-8 font-medium">
        <nav class="flex items-center">
            <ul class="flex gap-4">
                <li th:classappend="${requestURI == '/home' ? 'text-green-500 underline' : ''}"><a href="/home">Wybór
                    gry</a></li>
                <li th:classappend="${requestURI == '/daily-task' ? 'text-green-500 underline' : ''}"><a
                        href="/daily-task">Codzienne
                    zadania</a></li>
                <li th:classappend="${requestURI == '/ranking' ? 'text-green-500 underline' : ''}">
                    <a href="/ranking">Ranking</a></li>
            </ul>
        </nav>
        <div class="flex items-center gap-4">
            <span class="text-green-500 flex gap-2.5">
                12
                <svg th:replace="~{fragments/icons/coins}"></svg>
            </span>

            <div class="border border-neutral-700 items-center rounded-full pl-4 gap-3 flex">
                testUser
                <div class="w-8 h-8 rounded-full bg-neutral-50"></div>
            </div>
        </div>
    </div>
</header>