<!doctype html>
<html lang="en">
<head th:insert="~{/fragments/head :: htmlHead(~{::title},~{})}">
    <title>Codzienne zadania</title>
</head>
<body class="min-h-screen text-neutral-950 flex flex-col">
<div class="h-full flex flex-col grow">
    <div th:replace="~{fragments/header}"></div>

    <div class="flex justify-center items-center grow">
        <div>
            <h1 class="font-bold text-4xl text-center mb-4">Zadania na dzisiaj</h1>
            <p class="text-center mb-1.5">Wybranie zadania spowoduje odblokowanie danej gry.</p>
            <p class="text-center mb-5">Za wykonanie wybranego zadania dostaniesz
                <span th:text="${coinReward} + ' monet'" class="text-green-500">
                    <span class="w-4 h-4 text-green-500 inline-block">
                        <svg th:replace="~{fragments/icons/coins}"></svg>
                    </span>
                </span>.
            </p>

            <!--/*@thymesVar id="task" type="com.example.demoio.models.DailyTask"*/-->
            <div th:each="task : ${availableTasks}" class="w-[600px] mx-auto bg-neutral-100 p-5 rounded-xl mb-6">
                <header class="flex justify-between items-center mb-4">
                    <h2 th:text="${task.gameName}" class="font-semibold text-2xl">Nazwa zadania</h2>
                    <form th:action="@{/daily-tasks}" method="POST">
                        <input type="text" name="callbackValue" th:value="${task.callbackValue()}" readonly hidden>
                        <button class="rounded-md px-4 py-2 bg-neutral-950 text-neutral-50 text-sm font-medium">
                            Wybierz
                        </button>
                    </form>
                </header>
                <div class="flex gap-4">
                    <img th:src="@{${'/images/games/' + task.imageSlugName + '.jpg'}}" class="rounded-xl w-44 h-44">
                    <div class="flex flex-col justify-between">
                        <p th:text="${task.taskDescription}" class="mb-5"></p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>