<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="icon" type="image/x-icon" href="../static/css/favicon.ico">
    <link href="../static/css/base.css" th:href="@{/css/base.css}" rel="stylesheet"/>
    <link href="../static/css/login.css" th:href="@{/css/login.css}" rel="stylesheet"/>
    <script src="https://cdn.tailwindcss.com"></script>
    <title>Wybór gry</title>
</head>
<body class="min-h-screen text-neutral-950 flex flex-col">
<div class="h-full flex flex-col grow">
    <div th:replace="~{fragments/header}"></div>

    <div class="flex grow">
        <main class="w-full">
            <div class="w-full">
                <h1 class="font-bold text-4xl text-center my-20">Wybór gry</h1>

                <div class="max-w-screen-lg mx-auto">
                    <div class="flex justify-between mb-12">
                        <a href="game/1">
                            <div class="h-full p-4 rounded hover:shadow-md hover:scale-105 hover:bg-cyan-500/25 transition-all">
                                <img th:src="@{/images/games/recykling.jpg}"
                                     class="rounded-full w-44 h-44 mb-2 border-4 border-neutral-700">
                                <p class="w-44 text-center font-medium text-lg">Recykling</p>
                            </div>
                        </a>
                        <a href="game/2">
                            <div class="h-full p-4 rounded hover:shadow-md hover:scale-105 hover:bg-cyan-500/25 transition-all">
                                <img th:src="@{/images/games/oszczedzanie-wody.jpg}"
                                     class="rounded-full w-44 h-44 mb-2 border-4 border-neutral-700">
                                <p class="w-44 text-center font-medium text-lg">Oszczędzanie <br> wody</p>
                            </div>
                        </a>
                        <a href="game/3">
                            <div class="h-full p-4 rounded hover:shadow-md hover:scale-105 hover:bg-cyan-500/25 transition-all">
                                <img th:src="@{/images/games/oszczedzanie-energii.jpg}"
                                     class="rounded-full w-44 h-44 mb-2 border-4 border-neutral-700">
                                <p class="w-44 text-center font-medium text-lg">Oszczędzanie energii</p>
                            </div>
                        </a>
                        <a href="game/4">
                            <div class="h-full p-4 rounded hover:shadow-md hover:scale-105 hover:bg-cyan-500/25 transition-all">
                                <img th:src="@{/images/games/ponowne-wykorzystanie.jpg}"
                                     class="rounded-full w-44 h-44 mb-2 border-4 border-neutral-700">
                                <p class="w-44 text-center font-medium text-lg">Ponowne wykorzystanie</p>
                            </div>
                        </a>
                    </div>
                    <div class="flex justify-evenly">
                        <a href="game/5">
                            <div class="h-full p-4 rounded hover:shadow-md hover:scale-105 hover:bg-cyan-500/25 transition-all">
                                <img th:src="@{/images/games/korzystanie-transportu-publicznego.jpg}"

                                     class="rounded-full w-44 h-44 mb-2 border-4 border-neutral-700">
                                <p class="w-44 text-center font-medium text-lg">Korzystanie z transportu publicznego</p>
                            </div>
                        </a>
                        <a href="game/6">
                            <div class="h-full p-4 rounded hover:shadow-md hover:scale-105 hover:bg-cyan-500/25 transition-all">
                                <img th:src="@{/images/games/prawidlowe-pozbywanie-sie-odpadow.jpg}"

                                     class="rounded-full w-44 h-44 mb-2 border-4 border-neutral-700">
                                <p class="w-44 text-center font-medium text-lg">Prawidłowe pozbywanie się odpadów</p>
                            </div>
                        </a>
                        <a href="game/7">
                            <div class="h-full p-4 rounded hover:shadow-md hover:scale-105 hover:bg-cyan-500/25 transition-all">
                                <img th:src="@{/images/games/spozywanie-produktow-ekologicznych.jpg}"

                                     class="rounded-full w-44 h-44 mb-2 border-4 border-neutral-700">
                                <p class="w-44 text-center font-medium text-lg">Spożywanie produktów ekologicznych</p>
                            </div>
                        </a>
                    </div>
                </div>
            </div>
        </main>
    </div>
</div>
</body>
</html>