<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="icon" type="image/x-icon" href="../static/css/favicon.ico">
    <link href="../static/css/base.css" th:href="@{/css/base.css}" rel="stylesheet"/>
    <link href="../static/css/login.css" th:href="@{/css/login.css}" rel="stylesheet"/>
    <script src="https://cdn.tailwindcss.com"></script>
    <title>Homepage</title>
</head>
<body class="min-h-screen text-neutral-950 flex flex-col">
<div class="h-full flex flex-col grow">
    <div th:replace="~{fragments/header}"></div>

    <div class="flex grow">
        <main class="w-1/2">
            <article class="grid items-center justify-center h-full">
            </article>
        </main>
    </div>
</div>
</body>
</html>