<!doctype html>
<html lang="en">
<head th:insert="~{/fragments/head :: htmlHead(~{::title},~{::link})}">
    <link th:href="@{/css/login.css}" rel="stylesheet"/>
    <title>Zaloguj się</title>
</head>
<body class="min-h-screen text-neutral-950 flex flex-col">
<div class="h-full flex flex-col grow">
    <header class="h-14 w-full flex justify-between px-10 py-2 bg-neutral-950 text-neutral-50 items-center">
        <h1 class="text-2xl font-bold">Green game</h1>
    </header>

    <div class="flex grow">
        <div class="w-1/2">
            <div class="background-image bg-center bg-cover h-full"></div>
        </div>
        <main class="w-1/2">
            <article class="grid items-center justify-center h-full">
                <div>
                    <div class="w-96 mb-3 rounded-md space-y-10 px-6 py-8 border border-neutral-300">
                        <h1 class="font-bold text-3xl text-center">Zaloguj się</h1>

                        <div th:if="${param.error}">
                            Błędne hasło lub login.
                        </div>

                        <form th:action="@{/login}" method="post" id="myForm">
                            <div class="mb-3 flex items-center gap-2">
                                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="lucide lucide-user-2"><circle cx="12" cy="8" r="5"/><path d="M20 21a8 8 0 1 0-16 0"/></svg>
                                <input type="text" name="username" placeholder="Nazwa użytkownika"
                                       class="px-2 py-2 w-full bg-white rounded-md border border-neutral-300"/>
                            </div>
                            <div class="mb-10 flex items-center gap-2">
                                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="lucide lucide-user-2"><circle cx="12" cy="8" r="5"/><path d="M20 21a8 8 0 1 0-16 0"/></svg>
                                <input type="password" name="password" placeholder="Hasło" id="pass"
                                       class="px-2 py-2 w-full bg-white rounded-md border border-neutral-300"/>
                            </div>

                            <button class="w-full rounded-md py-2 bg-neutral-950 text-neutral-50">
                                Zaloguj
                            </button>
                        </form>
                    </div>
                    <p class="text-center text-sm font-medium">Nie masz konta? <span class="underline"><a href="/register">Zarejestruj się</a></span></p>
                </div>
            </article>
        </main>
    </div>
</div>
</body>
</html>