<!doctype html>
<html lang="en">
<head th:insert="~{/fragments/head :: htmlHead(~{::title},~{::link})}">
	<link th:href="@{/css/login.css}" rel="stylesheet" />
	<title>Zarejestruj się</title>
</head>
<body class="flex min-h-screen flex-col text-neutral-950">
<div class="flex h-full grow flex-col">
	<header
			class="flex h-14 w-full items-center justify-between bg-neutral-950 px-10 py-2 text-neutral-50"
	>
		<h1 class="text-2xl font-bold">Green game</h1>
	</header>

	<div class="flex grow">
		<div class="w-1/2">
			<div class="background-image h-full bg-cover bg-center"></div>
		</div>
		<main class="w-1/2">
			<article class="grid h-full items-center justify-center">
				<div>
					<div class="mb-3 w-96 rounded-md border border-neutral-300 px-6 py-8">
						<h1 class="mb-10 text-center text-3xl font-bold">Zarejestruj się</h1>

						<div
								th:if="${param.error}"
								class="[&>svg]:text-foreground relative mb-4 w-full rounded-lg border border-red-500/50 px-4 py-3 text-sm text-red-500 [&>svg+div]:translate-y-[-3px] [&>svg]:absolute [&>svg]:left-4 [&>svg]:top-3 [&>svg]:text-red-500 [&>svg~*]:pl-7"
						>
							<svg th:replace="~{fragments/icons/alert-circle-16}"></svg>
							<h5 class="leading-none tracking-tight">Błędne hasło lub login.</h5>
						</div>

						<div
								th:if="${param.bpass}"
								class="[&>svg]:text-foreground relative mb-4 w-full rounded-lg border border-red-500/50 px-4 py-3 text-sm text-red-500 [&>svg+div]:translate-y-[-3px] [&>svg]:absolute [&>svg]:left-4 [&>svg]:top-3 [&>svg]:text-red-500 [&>svg~*]:pl-7"
						>
							<svg th:replace="~{fragments/icons/alert-circle-16}"></svg>
							<h5 class="leading-none tracking-tight">Hasło musi się składać z conajmniej 8 znaków, jednej cyfry i jednego znaku specjalnego.</h5>
						</div>

						<div
								th:if="${param.blogin}"
								class="[&>svg]:text-foreground relative mb-4 w-full rounded-lg border border-red-500/50 px-4 py-3 text-sm text-red-500 [&>svg+div]:translate-y-[-3px] [&>svg]:absolute [&>svg]:left-4 [&>svg]:top-3 [&>svg]:text-red-500 [&>svg~*]:pl-7"
						>
							<svg th:replace="~{fragments/icons/alert-circle-16}"></svg>
							<h5 class="leading-none tracking-tight">Login musi składać się z conajmniej 5 znaków.</h5>
						</div>

						<form th:action="@{/register}" method="post">
							<div class="mb-3 flex items-center gap-2">
								<svg th:replace="~{fragments/icons/user-2}"></svg>
								<input
										type="text"
										name="username"
										placeholder="Nazwa użytkownika"
										class="w-full rounded-md border border-neutral-300 bg-white px-2 py-2"
								/>
							</div>
							<div class="mb-10 flex items-center gap-2">
								<svg th:replace="~{fragments/icons/lock}"></svg>
								<input
										type="password"
										name="password"
										placeholder="Hasło"
										id="pass"
										class="w-full rounded-md border border-neutral-300 bg-white px-2 py-2"
								/>
							</div>

							<button class="w-full rounded-md bg-neutral-950 py-2 text-neutral-50">
								Zarejestruj się
							</button>
						</form>
					</div>
					<p class="text-center text-sm font-medium">
						Masz konto? <span class="underline"><a href="/login">Zaloguj się</a></span>
					</p>
				</div>
			</article>
		</main>
	</div>
</div>
</body>
</html>
